@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"); /* @font-face {
    font-family: "Diodrum";
    font-style: normal;
    font-weight: normal;
    src: local("Diodrum"),
        url("../public/DiodrumArabic-Medium.ttf") format("ttf");
} */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM+Plex+Sans+Arabic", sans-serif;
    font-weight: 600;
    direction: rtl;
}
.form-group input {
    font-weight: 600;
}
